:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #ddd;
  background-color: #222;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --size: 320px;
  --ratio: 0.7;
  --percentage: calc(var(--ratio) * 100%);
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#play {
  width: var(--size);
}

#play img {
  width: var(--size);
  height: var(--size);
  object-fit: contain;
  background-color: #fff;
}

#language {
  position: fixed;
  top: 0;
  width: var(--size);
  display: flex;
  justify-content: stretch;
}

#language * {
  flex-grow: 1;
}

#buttons {
  --width: 20%;
  --height: 3rem;
  --radius: 0.5rem;

  button,
  .record-button {
    display: inline-block;
    position: relative; /* for .frame and .progress */
    width: var(--width);
  }

  button,
  .record-button,
  .record-button div  {
    height: var(--height);
    border-radius: var(--radius);
  }

  .record-button div {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  .record-button button,
  .record-button .frame {
    width: 100%;
  }

  div.progress {
    width: var(--percentage);
    background-color: #f003;
  }

  label {
    display: block;
  }
}