#choose {
  & {
    display: flex;
    flex-wrap: wrap;
    --size: 12vmin;
    --font-size: calc(var(--size) * 0.7);
    justify-content: space-around;
  }
  button {
    width: var(--size);
    height: var(--size);
    font-size: var(--font-size);
    margin: 1rem;
    padding: 0;
  }

  @media (min-width: 600px) {
    &.menu-open {
      position: absolute;
      left: var(--menu-width);
      width: var(--content-width);
      top: 50%;
      transform: translateY(-50%)
    }
  }
}