#play {
  width: var(--size);

  h1 {
    text-align: center;
    text-shadow: 2px 2px 4px black;
    text-transform: uppercase;
  }

  img {
    width: var(--size);
    height: var(--size);
    object-fit: contain;
    background-color: #fff;
  }

  div.video {
    border: 1px inset var(--disabled);
  }

  video {
    vertical-align: top;
    visibility: hidden;
  }

  span.cue {
    font-weight: bold;
  }

  span.gold {
    color: gold;
  }

  div.video.visible video {
    visibility: visible;
  }

  #buttons {
    --width: 20%;
    --height: 3rem;
    --radius: 0.5rem;

    button,
    .record-button {
      display: inline-block;
      position: relative; /* for .frame and .progress */
      vertical-align: middle; /* so 2-line text is centred */
      width: var(--width);
    }

    button,
    .record-button,
    .record-button div  {
      height: var(--height);
      border-radius: var(--radius);
      padding: 0;
      margin: 0;
    }

    .record-button div {
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
    }

    .record-button button,
    .record-button .frame {
      width: 100%;
    }

    div.progress {
      width: 0;
      background-color: #f003;
    }

    div.progress.recording {
      width: 100%;
      transition: width var(--record-duration);
      transition-timing-function: linear; /* after override ease */
    }

    label {
      display: block;
    }
  }
}