@use '_welcome';
@use '_menu';
@use '_choose';
@use '_demo';
@use '_play';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #ddd;
  background-color: #222;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --size: 320px;
  --record-duration: 1000ms;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  width: 320px;
}

button {
  width: 90%;
  margin: 5%;
  background-color: transparent;
  color: inherit;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 0.125rem outset #666 ;
  border-radius: 0.5rem;
  pointer-events: all;

  &:hover {
    border-color: #888;
    color: #fff;
  }

  &:active,
  &.current-page,
  &.current-sound,
  &.playing {
    border-style: inset;
    border-color: #999;
    background-color: #000;
  }

  &:disabled {
    border-style: solid;
    border-color: #444;
    background-color: #333;
    color: #666;
  }
}